#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:center;
  margin: 10px;
  position: relative;
}

.card {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 250px;
  height: 150px;
  text-decoration: none;
  border-radius: 8px;
  background-color: #2f4f4f;
  color: white;
  margin: 10px 10px 10px 10px;
}

.card:hover {
  background-color: lightgray;
  border: 2px solid gold;
}

.card-details {
  text-align: center;
  justify-content: center;
  border: 5px solid;
  width: 290px;
  height: 190px;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 black;
  background-color: #2f4f4f;
  color: lightgray;
}


h1 {
  text-align: center;
  align-content: center;
  font-family: 'Star Wars', sans-serif;
  background-color: lightgray;
  color: #FFD814;
  margin: 0;
  padding: 1px;
  -webkit-text-stroke: 1px black ;
  font-size: 35px;
  margin-bottom: 10%;
  width: 100%;
  height: 50px;
}

.starships {
  color: white;
  vertical-align: middle;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: middle;
  line-height: 150px;
  font-style: italic;
  font-size: 20px;
}

.starships:hover {
  color: black;
}

span:hover {
  color: #FFD814;
}

button:hover{
  background: #F7CA00;
  border-color: #F2C200;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 20px;
  box-shadow: 0 5px #666;
  transition: all 0.3s ease-in-out;
}

button:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px #666;
  background: #F7CA00;
  border-color: #F2C200;
  color: #666;
}

button:active {
  transform: translateY(5px);
  box-shadow: 0 5px #666;
}

