.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px solid black;
}

.card {
  text-align: center;
  width: 250px;
  height: 150px;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 black;
  background-color: #2f4f4f;
  color: white;
  margin: 10px 10px 10px 10px;
}

.starship-card {
  text-align: center;
  width: 290px;
  height: 190px;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 black;
  background-color: #2f4f4f;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
}

h1 {
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  font-family: cere
}